@font-face {
    font-family: 'bebas-neue-reg';
    src: url('../fonts/bebas_neue_regular.eot');
    src: local('☺'), url('../fonts/bebas_neue_regular.woff') format('woff'), url('fonts/bebas_neue_regular.ttf') format('truetype'), url('fonts/bebas_neue_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-R';
    src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: local('☺'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* sprite */

.money-icon, .arrow-down-icon, .arrow-up-icon, .coctail-icon {
    display: inline-block;
    background: url('../img/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.money-icon {
    background-position: -3px -0px;
    width: 74px;
    height: 36px;
}

.arrow-down-icon {
    background-position: -3px -39px;
    width: 44px;
    height: 38px;
}

.arrow-up-icon {
    background-position: -3px -80px;
    width: 44px;
    height: 38px;
}

.coctail-icon {
    background-position: -3px -121px;
    width: 40px;
    height: 52px;
}


*{
    box-sizing: border-box;
    }

$mainfont: Cambria, suns-serif;
$maincolor: #e3e3e3;
$hovercolor:#e52d44;
$globalfont: bebas-neue-reg, suns-serif;
$numbersfont: AvenirNextLTPro-R, suns-serif;
.block-style {
    width: 1090px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
}


html, body {
    height: 100%; 
    overflow: initial;
    margin: 0;
    padding: 0;

}



.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
   min-height: 100%; 
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    height: 90px;
    padding-top: 20px;

   
}

.logo {
    width: 170px;
    height: 50px;
    float: left;
    /* margin-left: -15px; */
}

.menu {
    width: 60px;
    height: 60px;
    float: right;
    position: relative;
    span {
        display: block;
        font-family: $mainfont;
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        left: -60px;
        top: 25px;
    }
}

.btn-menu {
    width: 60px;
    height: 60px;
    border: 1px solid $maincolor;
    border-radius: 60px;
    display: inline-block;
    position: relative;
    a {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 12px;
    }
}

.btn-menu:after {
    content: '';
    border-left: 1px solid $maincolor;
    position: absolute;
    width: 3px;
    height: 265px;
    top: 60px;
    right: 25px;
}
 
 .four:after {
     content: '';
     border-left: 1px solid $maincolor;
     position: absolute;
     width: 3px;
     height: calc(100% - 500px);
     top: 500px;
     right: 40px;
 } 

header:after {
    content: '';
    border-left: 1px solid $maincolor;
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    right: 250px;
}

 .two:after {
    content: '';
    border-left: 1px solid $maincolor;
    position: absolute;
    width: 3px;
    height: calc(100% - 30px);
    top: 30px;
    right: 490px;
} 

.one:after {
    content: '';
    border-left: 1px solid $maincolor;
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    right: 720px;
}

.zero:after {
    content: '';
    border-left: 1px solid $maincolor;
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0px;
    right: 960px;
}  

.container {
    position: relative;
     min-height: 820px;
    padding-bottom: 120px;
    .block-main {
        @extend .block-style;
        display: none;
        h1 {
            font-family: $globalfont;
            font-size: 50px;
            font-weight: normal;
            letter-spacing: 2px;
            word-spacing: 1px;
            text-transform: uppercase;
            display: block;
            position: absolute;
            left: 17px;
            top: 224px;
            z-index: 10;
        }
        .btns {
            width: 375px;
            height: 60px;
            position: absolute;
            left: 17px;
            bottom: 78px;
            :hover {
                background: $hovercolor;
                color: #ffffff;
            }
            a {
                display: inline-block;
                width: 168px;
                height: 30px;
                border: 1px solid black;
                text-decoration: none;
                color: #010101;
                text-transform: uppercase;
                font-family: $globalfont;
                font-size: 14px;
                padding-top: 7px;
                text-align: center;
                margin-left: 10px;
            }
            a:first-child {
                margin-left: 0;
            }
            ;
        }
        .block-main-photo {
            position: absolute;
            right: 100px;
            bottom: 30px;
        }
    }
    .block-about {
        @extend .block-style;
        height: 700px;
        display: none;
        .block-about-photo-2 {
            position: absolute;
            top: 15px;
            left: -15px;
            z-index: 100;
        }
        h2 {
            font-family: $globalfont;
            font-size: 26px;
            font-weight: normal;
            word-spacing: 2px;
        }
        ul {
            list-style: square;
        }
        li {
            color: $hovercolor;
            span {
                color: black;
                font-family: MyriadProRegular, suns-serif;
                font-size: 14px;
            }
        }
        .content-offer {
            width: 300px;
            height: 200px;
            position: absolute;
            left: 414px;
            top: 15px;
            p {
                margin-left: 20px;
                font-family: MyriadProRegular, suns-serif;
                font-size: 12px;
            }
            h2 {
                font-size: 36px;
            }
        }
        .content-goals {
            width: 370px;
            height: 250px;
            position: absolute;
            top: 310px;
            left: 17px;
        }
        .block-about-photo-3 {
            position: absolute;
            left: 556px;
            bottom: 225px;
        }
        .content-about {
            width: 530px;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 556px;
        }
       
    }
    .line-wrap span {
            display: block;
            background: $hovercolor;
            position: absolute;
            margin: 0;
            padding: 0;
            z-index: -10;
        }
        .line-wrap span:nth-of-type(1) {
            width: 0%;
            height: 1px;
            top: 32px;
            left: 32px;
        }
        .line-wrap span:nth-of-type(2) {
            width: 1px;
            height: 0%;
            top: 32px;
            right: -32px;
        }
        .line-wrap span:nth-of-type(3) {
            width: 0%;
            height: 1px;
            bottom: -32px;
            right: -32px;
        }
        .line-wrap span:nth-of-type(4) {
            width: 1px;
            height: 0%;
            bottom: -32px;
            left: 32px;
        }
    .block-benefit {
        @extend .block-style;
        display: none;
         h2{
            font-family:$globalfont;
            font-size: 36px;
            font-weight: normal;
            margin-left: 460px;
        }
        .block-benefit-photo-4{
            width: 390px;
            height: 415px;
            float: left;
            position: relative;
        }

        .slider{
            min-width: 442px;
            height: 480px;
            float: left;
            position: relative;
            margin-left: 106px;

                a .arrow-up-icon{
                    position: absolute;
                    top: 0; 
                    left: 180px;    
                }
                a .arrow-down-icon{
                    position: absolute;
                    bottom:  70px; 
                    left: 180px; 
                }

            ul{
                margin-top: 130px;
                list-style: none;
                padding-left: 0;
                max-width: 442px;    

                li{
                    display: inline-block;
                    margin-left: 100px;  
                    text-align: center;
                    font-family: MyriadProRegular, suns-serif;
                    font-size: 16px;


                    &:first-child{
                        margin-left: 0; 
                    }
                    
                }
            }

            .counter{
                position: absolute;
                right: 0;
                bottom: 70px;
                font-family:$numbersfont;
                font-size: 16px;
                
            }
             .first-slide, .second-slide,
              .third-slide, .fourth-slide,
              .fifth-slide{
               display: none;
           } 

        }

    }
/*class for show tabs*/

    .active-number{
                    font-size: 24px;
                }
    .active-slide{
        display: block !important;
    }



    .block-reasons {
        @extend .block-style;
        display: none;
        h2{
            font-family:$globalfont;
            font-size: 36px;
            font-weight: normal;
            margin-left: 460px;
        }
       
              .btn {
            width: 170px;
            height: 32px;
            position: absolute;
            right: 340px;
            bottom: 14px;
            padding-top: 6px;
            text-align: center;
            border: 1px solid black;
            &:hover  {
                background: $hovercolor;
                
            }
            &:hover a{
                    color: #ffffff;
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-family: $globalfont;
                font-size: 14px;


            }
        }
        
        .tabs{
            width: 480px;
            height: 546px;
            float: left;
            position: relative;
            .arrow-up-icon, .arrow-down-icon{
                position: absolute;
                left: 230px;
            }
            .arrow-up-icon{
                top: 100px;
            }
            .arrow-down-icon{
                bottom: 100px;
            }
            ul{
                list-style: none;
                margin-top: 180px;
                li {
                    margin-top: 20px;
                    text-align: center;
                    .active-tab{
                      font-size: 26px;
                      color: $hovercolor;
                     }
                    a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-family: $globalfont;
                    font-size: 18px;

                }
            }
            }
        }
        .slide{
            width: 480px;
            height: 420px;
            float: left;
            position: relative;
            display: none;
            span{
                position: absolute;
                font-family: Cambria, suns-serif;
                font-size: 133px;
                color: #e2e2e2;
                font-weight: bold;
                top: 100px;
                z-index: -10;
            }
            h3{
                font-family: $globalfont;
                font-size: 26px;
                margin-left: 25px;
                font-weight: normal;
                margin-top: 180px;
                margin-bottom: 10px;
                z-index: 10;
                &:nth-child(3){margin-left: 200px;
                    margin-top: 10px;
                }
            }
            p{
                width: 324px;
                margin-left: 100px;
                font-family: MyriadProRegular, suns-serif;
                font-size: 16px;
            }

        }

.active-tab{
    font-size: 26px;
    color: $hovercolor;
}

    }
    .block-parts {
        @extend .block-style;
        display: none;
        background-image:  url(../img/parts-array.png);
        background-position: 60% 60%;
       background-repeat: no-repeat;
       position: relative;
       overflow: hidden;

        h2{
            font-family: $globalfont;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: center;
        }
       
               
                .number{
                    font-family: Cambria;
                    font-size: 90px;
                    color:$hovercolor;
                    font-weight: bold;
                    position: relative; 
                    display: block;

                }
               
                 #number-1
                {
                    position: absolute;
                   width: 0px;
                   overflow: hidden;
                   transition: width 1s;  
                     top: 180px;
                    left: 280px;
                    z-index: 10;
                } 
                 #number-2{
                   @extend #number-1;
                   top: 380px;
                   left: 400px;

                }
                #number-3{
                   @extend #number-1;
                   top: 210px;
                    left: 510px;

                }
                 #number-4{
                   @extend #number-2;
                   left: 610px;
                   top: 400px;
                  
                }
                 #number-5{
                   @extend #number-3;
                   left: 720px;
                   top: 180px;
                }
                 #number-6{
                   @extend #number-4;
                   left: 830px;
                   top: 370px;
                   
                  
                }

                .discription-1{
                    width: 150px;
                    height: 160px;
                    background-image: url(../img/progress-bar-1.png);
                    background-repeat: no-repeat;
                    text-align: center;
                    position: absolute;
                    top: 100px;
                    left: 300px;
                    z-index: 1;

                }
                .discription-2{
                    @extend .discription-1;
                    background-image: url(../img/progress-bar-2.png);
                     top: 440px;
                   left: 350px;
                }
                 .discription-3{
                    @extend .discription-1;
                    background-image: url(../img/progress-bar-3.png);
                      top: 110px;
                    left: 520px;
                }
                .discription-4{
                    @extend .discription-2;
                    background-image: url(../img/progress-bar-4.png);
                    left: 580px;    
                      
                }
                .discription-5{
                    @extend .discription-1;
                    background-image: url(../img/progress-bar-5.png);
                    left: 735px;
                    top: 110px;
                      
                }
                 .discription-6{
                    @extend .discription-2;
                    background-image: url(../img/progress-bar-6.png);
                    left: 780px;
                    top: 430px;
                      
                }
                .text{
                    font-family: $globalfont;
                    font-size: 18px;
                    position: absolute;
                    top: 50px;
                    right: 100px;

                }

                .text-2{
                    left: 50px;
                }
                 .text-3{
                    width: 100px;
                }
                 .text-4{
                    left: 40px;
                }
                .text-5{
                    left: -30px;
                    width: 100px;
                }
                .text-6{
                    left: 30px;
                    width: 120px;
                }


    }
   
    .block-contacts {
        @extend .block-style;
        display: none;
    }
}

.show {
    display: block !important;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

nav {
    width: 90px;
    position: absolute;
    right: 0px;
    top: 250px;
    tr td {
        text-align: center;
        
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: $globalfont;
            font-size: 12px;
            color: black;
        }
    }
    tr td:first-child {
        visibility: hidden;
    }
}

tr:hover td:first-child {
    visibility: visible;
}

.active {
    td:first-child a {
        visibility: visible;
    }
    ;
    td:nth-child(2) a {
        font-size: 34px;
        font-family: $numbersfont;
    }
}

footer {
     position: absolute;
         bottom: 0;
         left: 0;  
    width: 100%;
    height: 100px;
    padding-top: 40px;
    .info {
        width: 260px;
        float: left;
        span {
            font-family: $mainfont;
            font-size: 12px;
            word-spacing: normal;
            span {
                margin-left: 15px;
            }
        }
    }
    .scroll {
        width: 90px;
        float: left;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-left: 280px;
        a {
            text-decoration: none;
            color: black;
            font-family: $mainfont;
            font-weight: bold;
        }
    }
    .networks {
        width: 315px;
        height: 33px;
        border: 1px solid $maincolor;
        float: right;
        margin-right: 43px;
        background: white;
        ul {
            padding-left: 0;
            margin: 6px 16px;
            li {
                display: inline-block;
                margin-left: 15px;
                a {
                    font-family: $mainfont;
                    font-size: 11px;
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
                    word-spacing: normal;
                }
            }
        }
    }
}

.networks ul li:first-child {
    margin-left: 0;
    a {
        color: $maincolor;
    }
}